doctype html
html
    head
        title The Pupcake Collection
        include stylesheets.pug
    body
        include nav.pug
        h1 Welcome to The Pupcake Collection!
        img(src='http://www.dreams.metroeve.com/wp-content/uploads/2017/03/dreams.metroeve_bakery-dreams-meaning.jpg')
        p
        |The Cupcake Collection whips up over 100 different flavors of pupcakes daily.
        |We also specialize in sweet treats suitable for a gluten-free, diabetic, or allergen-sensitive pup's diet.
